<script language="javascript" src="/jquery.min.js"></script>
<script language="javascript" src="/js/bootstrap.min.js"></script>
<script language="javascript" src="/sweetalert2.all.min.js"></script>
<script language="javascript" src="modal.js"></script>
<script language="javascript" src="index.js"></script>
</body>

</html>