<footer>
    <!-- Footer Links -->
    <div class="container-fluid text-center ">
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mt-md-6 mt-3">
                <a class="up-arrow" href="#mypage" data-toggle='tooltip' title="Para o topo">
                    <span><i class="fas fa-arrow-up"></i></span>
                </a>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 mt-md-0 mt-3 ">
                <p>BarberShop Noob, <i class="far fa-copyright"></i> 2020</p>
            </div>
            <div class="col-md-6 mt-md-0 mt-3">
                <a target="_blank" href="https://www.livroreclamacoes.pt/inicio">
                    <img src="assets/livro_reclamacoes.png" style="height:33px" alt="imagem livro reclamações">
                </a>
            </div>
        </div>
    </div>
</footer>
<script language="javascript" src="/jquery.min.js"></script>
<script language="javascript" src="/js/bootstrap.min.js"></script>
<script language="javascript" src="/sweetalert2.all.min.js"></script>
<script language="javascript" src="modal.js"></script>
<script language="javascript" src="index.js"></script>
</body>

</html>