<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <form>
      <div class="container">
        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Enter Username" name="email" required />
        <div class="email error"></div>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required />
        <div class="password error"></div>

        <button type="submit">Login</button>
      </div>

      <div class="container" style="background-color: #f1f1f1">
        <button type="button" class="cancelbtn" onclick="window.location.href='/'">Cancel</button>
        <span class="psw">Forgot <a href="/forgotpassword" onclick="Fxchkbox">password?</a></span>
      </div>
    </form>
    <script language="javascript" src="authenticate.js"></script>
  </body>
</html> -->


<%- include('partials/header'); -%>

<section class="section-signin h-100 w-100 text-center">
  <div class="container">
    <form class="form-signin">
      <img class="mb-4" src="assets/logotipo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Iniciar Sessão</h1>
      <div class="form-label-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" class="form-control" placeholder="Email" name="email" required autofocus>
        <div class="email error"></div>
      </div>
      <div class="form-label-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <div class="password error"></div>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar
        </label>
        <span class="psw"><a href="/forgotpassword" onclick="Fxchkbox"> Esquecimento de Password?</a></span>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <p class="mt-5 mb-3 text-muted">&copy; BarbeiroNoob - 2020</p>
    </form>
  </div>
</section>
<script language="javascript" src="authenticate.js"></script>
</body>

</html>