<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164387593-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-164387593-1');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link href='css/lity.css' rel='stylesheet' type='text/css'>
    <link href="css2/styles.css?v2" rel="stylesheet">
    <link href='css/jquery.fancybox.css' rel='stylesheet' type='text/css'>
    <title>Cortes de Lisboa</title>

</head>

<body>


    <div class="hero">

        <span class="logo"></span>

        <video poster="images/bg.jpg" id="bgvid" playsinline autoplay muted loop>
            <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
            <source src="images/cortes1.webm" type="video/webm">
            <source src="images/cortes1.mp4" type="video/mp4">
        </video>

        <div class="menu">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <ul>
                            <li><a class="btn-shops" href="javascript:void(0)">Barbearias</a></li>
                            <li><a class="btn-book" href="javascript:void(0)">Marcações</a></li>
                            <li><a class="btn-contact" href="javascript:void(0)">Contactos</a></li>
                            <li><a href="/login">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="shopsID" class="section shops">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h1>Barbearias</h1>
                </div>
            </div>


            <div class="row shop">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-6 thumbnails">
                            <a class="fancybox" rel="group1"
                                href="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_1.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_1.jpg" /></a>
                            <a class="fancybox" rel="group1"
                                href="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_2.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_2.jpg" /></a>
                            <a class="fancybox" rel="group1"
                                href="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_3.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_3.jpg" /></a>
                            <a class="fancybox" rel="group1"
                                href="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_4.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_4.jpg" /></a>
                            <a class="fancybox" rel="group1"
                                href="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_5.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/alcantara/alcantara_5.jpg" /></a>
                        </div>
                        <div class="col-md-6">
                            <h3>Alcântara</h3>
                            <p>Seg. a Sáb. / 10.00 - 19.00</p>
                            <a class="btn-md booknow" data-val="1" href="#">Marcar agora</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row shop">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-6 push-md-6 thumbnails">
                            <a class="fancybox" rel="group7" href="images/lojas/alegro/alegro_2.jpg"><img
                                    src="images/lojas/alegro/alegro_2.jpg" /></a>
                            <a class="fancybox" rel="group7" href="images/lojas/alegro/alegro_3.jpg"><img
                                    src="images/lojas/alegro/alegro_3.jpg" /></a>
                            <a class="fancybox" rel="group7" href="images/lojas/alegro/alegro_4.jpg"><img
                                    src="images/lojas/alegro/alegro_4.jpg" /></a>
                        </div>
                        <div class="col-md-6 pull-md-6 text-right">
                            <h3>Alegro Alfragide</h3>
                            <p>Seg. a Dom. / 10.00 - 23.00</p>
                            <p>Sex. e Sáb. / 10.00 - 23.00</p>
                            <a class="btn-md booknow" data-val="7" href="#">Marcar agora</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row shop">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-6 thumbnails">
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_01.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_01.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_01b.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_01b.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_02.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_02.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_03.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_03.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_04.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_04.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_04b.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_04b.jpg" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_05.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_05.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_06.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_06.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_06b.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_06b.jpg" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_07.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_07.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_08.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_08.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_09.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_09.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_10.JPG"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_10.JPG" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_12.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_12.jpg" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_13.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_13.jpg" /></a>
                            <a class="fancybox" rel="group5"
                                href="https://cortesdelisboa.pt/images/lojas/braga/braga_14.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/braga/braga_14.jpg" /></a>
                        </div>
                        <div class="col-md-6">
                            <h3>Braga Parque</h3>
                            <p>Seg. a Dom. / 10.00 - 23.00</p>
                            <p>Sex. e Sáb. / 10.00 - 23.00</p>
                            <a class="btn-md booknow" data-val="5" href="#">Marcar agora</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row shop">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-6 push-md-6 thumbnails">
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_01.jpg"><img
                                    src="images/lojas/colombo/colombo_01.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_02.jpg"><img
                                    src="images/lojas/colombo/colombo_02.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_02b.jpg"><img
                                    src="images/lojas/colombo/colombo_02b.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_03.jpg"><img
                                    src="images/lojas/colombo/colombo_03.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_03b.jpg"><img
                                    src="images/lojas/colombo/colombo_03b.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_04.jpg"><img
                                    src="images/lojas/colombo/colombo_04.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_04b.jpg"><img
                                    src="images/lojas/colombo/colombo_04b.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_07.jpg"><img
                                    src="images/lojas/colombo/colombo_07.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_08.jpg"><img
                                    src="images/lojas/colombo/colombo_08.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_09.jpg"><img
                                    src="images/lojas/colombo/colombo_09.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_10.jpg"><img
                                    src="images/lojas/colombo/colombo_10.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_11.jpg"><img
                                    src="images/lojas/colombo/colombo_11.jpg" /></a>
                            <a class="fancybox" rel="group4" href="images/lojas/colombo/colombo_12.jpg"><img
                                    src="images/lojas/colombo/colombo_12.jpg" /></a>
                        </div>
                        <div class="col-md-6 pull-md-6 text-right">
                            <h3>Colombo</h3>
                            <p>Seg. a Dom. / 10.00 - 23.00</p>
                            <a class="btn-md booknow" data-val="4" href="#">Marcar agora</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row shop">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-6 thumbnails">
                            <a class="fancybox" rel="group6"
                                href="https://cortesdelisboa.pt/images/lojas/evora/evora_01.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/evora/evora_01.jpg" /></a>
                            <a class="fancybox" rel="group6"
                                href="https://cortesdelisboa.pt/images/lojas/evora/evora_03.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/evora/evora_03.jpg" /></a>
                            <a class="fancybox" rel="group6"
                                href="https://cortesdelisboa.pt/images/lojas/evora/evora_04.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/evora/evora_04.jpg" /></a>
                            <a class="fancybox" rel="group6"
                                href="https://cortesdelisboa.pt/images/lojas/evora/evora_05.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/evora/evora_05.jpg" /></a>
                            <a class="fancybox" rel="group6"
                                href="https://cortesdelisboa.pt/images/lojas/evora/evora_06.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/evora/evora_06.jpg" /></a>
                            <a class="fancybox" rel="group6"
                                href="https://cortesdelisboa.pt/images/lojas/evora/evora_07.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/evora/evora_07.jpg" /></a>
                            <a class="fancybox" rel="group6"
                                href="https://cortesdelisboa.pt/images/lojas/evora/evora_08.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/evora/evora_08.jpg" /></a>
                            <a class="fancybox" rel="group6"
                                href="https://cortesdelisboa.pt/images/lojas/evora/evora_09.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/evora/evora_09.jpg" /></a>
                        </div>
                        <div class="col-md-6">
                            <h3>Évora Plaza</h3>
                            <p>Seg. a Dom. / 10.00 - 22.00</p>
                            <a class="btn-md booknow" data-val="6" href="#">Marcar agora</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row shop">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-6 push-md-6 thumbnails">
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_01.jpg"><img
                                    src="images/lojas/loureshopping/loures_01.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_02.jpg"><img
                                    src="images/lojas/loureshopping/loures_02.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_03.jpg"><img
                                    src="images/lojas/loureshopping/loures_03.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_04.jpg"><img
                                    src="images/lojas/loureshopping/loures_04.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_05.jpg"><img
                                    src="images/lojas/loureshopping/loures_05.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_06.jpg"><img
                                    src="images/lojas/loureshopping/loures_06.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_07.jpg"><img
                                    src="images/lojas/loureshopping/loures_07.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_08.jpg"><img
                                    src="images/lojas/loureshopping/loures_08.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_09.jpg"><img
                                    src="images/lojas/loureshopping/loures_09.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_10.jpg"><img
                                    src="images/lojas/loureshopping/loures_10.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_11.jpg"><img
                                    src="images/lojas/loureshopping/loures_11.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_12.jpg"><img
                                    src="images/lojas/loureshopping/loures_12.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_13.jpg"><img
                                    src="images/lojas/loureshopping/loures_13.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_14.jpg"><img
                                    src="images/lojas/loureshopping/loures_14.jpg" /></a>
                            <a class="fancybox" rel="group3" href="images/lojas/loureshopping/loures_15.jpg"><img
                                    src="images/lojas/loureshopping/loures_15.jpg" /></a>
                        </div>
                        <div class="col-md-6 pull-md-6 text-right">
                            <h3>LoureShopping</h3>
                            <p>Seg. a Qui. / 10.00 - 22.00</p>
                            <p>Sex. a Dom. / 10.00 - 22.00</p>
                            <a class="btn-md booknow" data-val="3" href="#">Marcar agora</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row shop">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-6 thumbnails">
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_01.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_01.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_02.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_02.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_03.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_03.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_04.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_04.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_05.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_05.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_06.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_06.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_07.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_07.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_08.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_08.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_09.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_09.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/sintra_10.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/sintra_10.jpg" /></a>
                            <a class="fancybox" rel="group8"
                                href="https://cortesdelisboa.pt/images/lojas/sintra/store_default.jpg"><img
                                    src="https://cortesdelisboa.pt/images/lojas/sintra/store_default.jpg" /></a>
                        </div>
                        <div class="col-md-6">
                            <h3>Alegro Sintra</h3>
                            <p>Seg. a Dom. / 10.00 - 23.00</p>
                            <a class="btn-md booknow" data-val="8" href="#">Marcar agora</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="section booking">

        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4 text-center">
                    <h1>Marcações</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <form method="POST" action="https://cortesdelisboa.pt/booking" accept-charset="UTF-8"><input
                            name="_token" type="hidden" value="vB22kHIpQSeCYS4tCQre79O054Bu9QsNZx9stJ1S">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label>Barbearia</label>
                                    <select class="form-control ico-select f_store" name="store" required>
                                        <option value="1">Alcântara</option>
                                        <option value="7">Alegro Alfragide</option>
                                        <option value="5">Braga Parque</option>
                                        <option value="4">Colombo</option>
                                        <option value="6">Évora Plaza</option>
                                        <option value="3">LoureShopping</option>
                                        <option value="8">Alegro Sintra</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Serviço</label>
                                    <select class="form-control ico-select f_type" name="tipo_corte" required>
                                        <option value="1">Cabelo + Barba - 18€</option>
                                        <option value="2">Cabelo - 13€</option>
                                        <option value="3">Barba - 8.5€</option>
                                        <option value="4">Cabelo Criança - 10€</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Data</label>
                                    <input id="selectDate" style="height: 52px" type="text"
                                        class="form-control datepicker" name="data" placeholder="MÊS / DIA / ANO"
                                        required>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Hora</label>
                                    <select class="form-control ico-select f_hour" name="hora">
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label for="exampleTextarea">Observações</label>
                                    <textarea class="form-control" id="exampleTextarea" rows="6" name="comentario"
                                        placeholder="Escreve aqui uma nota para esta marcação"></textarea>
                                </div>

                                <button class="btn-lg" type="submit">Confirmar</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="contacts section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Contactos</h1>
                </div>
            </div>
            <div class="row">

                <!--
      <div class="col-md-3">
          <h3>Geral</h3>
          <p class="address">Centro Comercial Colombo, Loja 0.506, 1500-392 Lisboa</p>
          <p>geral@cortesdelisboa.pt</p>
          <p>21 191 34 01</p>
      </div>
       -->

                <div class="col-md-3">
                    <h3>Alcântara</h3>
                    <p class="address">Rua Luís de Camões nº.56, 1300-341 Alcântara</p>
                    <p>925 636 436 / 918 354 073</p>
                </div>
                <div class="col-md-3">
                    <h3>Alegro Alfragide</h3>
                    <p class="address">Avenida dos Cavaleiros, piso -1, 2790-045 Carnaxide</p>
                    <p>916 197 202 / 963 150 753</p>
                </div>
                <div class="col-md-3">
                    <h3>Braga Parque</h3>
                    <p class="address">Bairro da Quinta dos Congregados, S. Victor, piso 1, loja 4, 4710-427 Braga</p>
                    <p>916 197 059 / 963 157 054</p>
                </div>
                <div class="col-md-3">
                    <h3>Colombo</h3>
                    <p class="address">Avenida Lusíada, piso -1, loja 0.504/5, 1500-392 Lisboa</p>
                    <p>927 287 632 / 913 951 768</p>
                </div>
                <div class="col-md-3">
                    <h3>Évora Plaza</h3>
                    <p class="address">Rua Luís Adelino Fonseca 2, piso 0, loja 0.36, 7005-345 Évora</p>
                    <p>916 197 036 / 962 638 664</p>
                </div>
                <div class="col-md-3">
                    <h3>LoureShopping</h3>
                    <p class="address">Avenida das Descobertas 90, piso 0, loja 0.025, 2670-457 Loures</p>
                    <p>925 356 879 / 913 215 878</p>
                </div>
                <div class="col-md-3">
                    <h3>Alegro Sintra</h3>
                    <p class="address">Rua Alto do Forte, IC 19, piso 1, loja 1.02, 2635-018 Rio de Mouro</p>
                    <p>911 939 896 / 969 836 027</p>
                </div>

            </div>

            <div class="row geral">
                <div class="col-md-4 offset-md-4">
                    <h3>Escritórios</h3>
                    <p>geral@cortesdelisboa.pt</p>
                    <p>21 152 9060</p>
                </div>
            </div>

        </div>

    </div>

    <div class="brands section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Marcas</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a target="_blank" href="https://andis.com/"><img src="images/brands/andis.jpg"></a></li>
                        <li><a target="_blank" href="http://www.konzept-automobile.com/"><img
                                    src="images/brands/konzept.jpg"></a></li>
                        <li><a target="_blank" href="https://oilcangrooming.com/"><img
                                    src="images/brands/oilcan.jpg"></a></li>
                        <li><a target="_blank" href="https://www.pilaten-mask.com/"><img
                                    src="images/brands/pilaten.jpg"></a></li>
                        <li><a target="_blank" href="https://www.reuzelpomade.com/"><img
                                    src="images/brands/reuzel.jpg"></a></li>
                        <li><a target="_blank" href="http://www.uppercutdeluxe.com/"><img
                                    src="images/brands/uppercut.jpg"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer social">
        <ul style="display: flex;align-items: center;justify-content: center;">
            <li style="margin-right:50px">
                <a target="_blank" href="https://www.livroreclamacoes.pt/inicio">
                    <img src="/images/livro-reclamacoes.png" style="height:50px" alt="">
                </a>
            </li>
            <li><a target="_blank" href="https://www.facebook.com/CortesdeLisboaOficial/"><span
                        class="ico ico-fb"></span></a></li>
            <li><a target="blank" href="https://www.instagram.com/cortesdelisboa/"><span class="ico ico-in"></span></a>
            </li>
        </ul>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="js/lity.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/home.js"></script>
</body>

</html>