<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Hello NOOBS Barbeiros!</h1>
    <div class="section booking">
      <div>
        <div>
          <div>
            <h1>Marcações</h1>
          </div>
        </div>
        <div>
          <div>
            <form method="POST" action="/">
              <div>
                <div>
                  <div>
                    <label>Barbeiros</label>
                    <select id="selectBarbeiro" name="barbeiro" required>
                      <% if(barbeiros.length > 0) { %> <% barbeiros.forEach(barbeiro => { %>

                      <option value="<%= barbeiro._id %>"><%=barbeiro.name %></option>
                      <%})%> <%} else { %>
                      <option>Nothing to display</option>
                      <% } %>
                    </select>
                  </div>
                  <div>
                    <label>Serviço</label>
                    <select name="tipo_corte" required>
                      <option value="1">Cabelo + Barba - 18€</option>
                      <option value="2">Cabelo - 13€</option>
                      <option value="3">Barba - 8.5€</option>
                      <option value="4">Cabelo Criança - 10€</option>
                    </select>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div>
                    <label>Data</label>
                    <input
                      id="selectDate"
                      type="date"
                      name="data"
                      placeholder="MÊS / DIA / ANO"
                      required
                    />
                  </div>
                </div>
                <div>
                  <div>
                    <label>Hora</label>
                    <select class="f_hour" name="hour"></select>
                  </div>
                </div>
              </div>
              <div>
                <div>
                  <div>
                    <label for="exampleTextarea">Observações</label>
                    <textarea
                      rows="6"
                      name="comentario"
                      placeholder="Escreve aqui uma nota para esta marcação"
                    ></textarea>
                  </div>
                  <button type="submit">Confirmar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>
