<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link href="custom.css" rel="stylesheet" />

    <title>Reservas</title>
  </head>

  <body>
    <!-- Header -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BarbeiroNoob</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Marcações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container"></div>
    </div>
    <!-- Container-->
    <div class="container">
      <!-- Info Panel-->
      <div class="row justify-content-center">
        <div class="col-10 info-panel">
          <div class="row">
            <div class="col-lg">
              <h4>Nova Marcação</h4>
              <p>Escolha um serviço</p>
            </div>
          </div>
          <div class="row">
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">
                Cras justo odio
              </a>
              <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
              <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
              <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
             
                >Vestibulum at eros</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <script language="javascript" src="/jquery.min.js"></script>
    <script language="javascript" src="/js/bootstrap.min.js"></script>
  </body>
</html>
