/****************** Reset and Global **********************/

* {
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/****************** INDEX-PAGE **********************/


/* Jumbotron */

.jumbotron {
	background-image: url('assets/barberbanner.jpg');
	background-size: cover;
	height: 350px;
	text-align: center;
	position: relative;
}

.jumbotron .container {
	z-index: 1;
	position: relative;
}

.jumbotron::after {
	content: '';
	display: block;
	width: 100%;
	height: 80%;
	/*background-color:white */
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
}

/****************** SERVICES **********************/

.service img {
	opacity: 0.75;
	width: 50%;
	height: 50%;
	border: 7px solid #fff;
}

.service h4 {
	/* margin-top: 25px; */
	/* margin-bottom: 0; */
	text-transform: none;
}

.service img:hover {
	opacity: 1;
}

#renderServices {
	/* padding-bottom: 2em; */
}

/****************** ABOUT **********************/



/****************** Paralax **********************/

.pimg {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.pimg {
	background-image: url('assets/image1.jpeg');
	min-height: 400px;
}

.section {
	letter-spacing: 0.02em;
	text-align: center;
	padding: 1em 0.5em;
}

.section-dark {
	background-color: #282e34;
  color: #ddd;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.section-light {
	background: rgba(223, 164, 80, 0.5);
}

.section-light p {
	margin-bottom: 0;
}

.ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 1.5rem;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border {
	background-color: #111;
	color: #fff;
	padding: 1.2rem;
}

.ptext .border.trans {
	background-color: transparent;
}

/****************** Footer **********************/

footer {
	background-color: #282e34;
	color: #ddd;
	padding-bottom: 0.5em;
}

footer a {
	color: #f5f5f5;
}

footer a:hover {
	color: #777;
	text-decoration: none;
}


/****************** LOGIN-PAGE **********************/
.section-signin
{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
/****************** Form Login **********************/
.form-label-group {
	position: relative;
	margin-bottom: 1rem;
  }
  
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }